* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	padding: 16px;
}

body#gallery {
	overflow-x: scroll;

}

.flex-container {
	display: flex;
	flex-direction: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.flex-object {
	padding-right: 10px;
}


:root {
	--magenta: #ED0973;
}


#landing section {
	position: relative;
	max-width: 258px;
	width: auto;
	height: 612px;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	transform: translateY(-50%);
}

#landing nav {
	margin-bottom: 30px;
	
}

#landing nav h2 {
	font: 24px "Roboto",sans-serif;
	font-weight: 400;
}

#landing nav figure {
	height: 96px;
	width: 96px;
	border: solid black 2px;
}

#landing article {
	position: relative;
	top: 367px;
	left: -32px;
	transform: rotate(-90deg);
	transform-origin: 0% 0%;
}

#landing h1 {
	font: 135px "Roboto",sans-serif;
	font-weight: 300;
	letter-spacing: 0;
	text-transform: uppercase;
}

#landing h1 span {
	color: var(--magenta);
}

#gallery section#overflow-window{
	height: 100%;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

#gallery section#gallery-main {
	position: absolute;
	height: 100%;
	width: 5300px;
	justify-content: flex-start;
}

#gallery figure {
	width: auto;
}

#gallery figure>img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}


@media all and (min-width: 751px){

body {
	padding: 30px;
}

#landing section {
	position: relative;
	max-width: none;
	height: 290px;
	padding: 10px 0;
	overflow: hidden;
	transform: translateY(-52%);
}

#landing nav {
	margin-bottom: 40px;
	
}

#landing nav h2 {
	font: 24px "Roboto",sans-serif;
	font-weight: 400;
}

#landing nav figure {
	height: 85px;
	width: 85px;
	border: solid black 2px;
}

#landing article {
	position: relative;
	top: -269px;
	left: 100px;
	transform: rotate(0deg);
}

#landing h1 {
	font: 120px "Roboto",sans-serif;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 125px;
}


#gallery section#overflow-window{
	position: relative;
	height: 80%;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	overflow-x: scroll;
}

#gallery section#gallery-main {
	height: 100%;
	width: 5300px;
}



}


@media all and (min-width: 926px){

#landing nav {
	margin-bottom: 40px;
}

#landing nav figure {
	height: 115px;
	width: 115px;
}

#landing article {
	top: -330px;
	left: 130px;
}

#landing h1 {
	font: 160px "Roboto",sans-serif;
	line-height: 156px;
	font-weight: 300;
}



}